* {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

.display-flex-row {
    display: flex;
    flex-direction: row;
}

.display-flex-row.justify-between {
    justify-content: space-between;
}

.display-flex-row.align-items-center {
    align-items: center;
}

.typography {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.typography .title {
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
}

.typography .subtitle {
    font-size: 18px;
}

.highlight-text {
    color: #3C65f5;
}

.text-center {
    text-align: center;
}

.text-white {
    color: #FFFFFF;
}


.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.p-4 {
    padding: 4rem;
}

.p-5 {
    padding: 5rem;
}

.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-2 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.px-3 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.px-4 {
    padding-left: 4rem;
    padding-right: 4rem;
}

.px-5 {
    padding-left: 5rem;
    padding-right: 5rem;
}

.py-1 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-3 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.py-5 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mx-2 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.mx-3 {
    margin-left: 3rem;
    margin-right: 3rem;
}

.mx-4 {
    margin-left: 4rem;
    margin-right: 4rem;
}

.mx-5 {
    margin-left: 5rem;
    margin-right: 5rem;
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.my-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.my-4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.my-5 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.me-1 {
    margin-right: 1rem;
}

.me-2 {
    margin-right: 2rem;
}

.me-3 {
    margin-right: 3rem;
}

.me-4 {
    margin-right: 4rem;
}

.me-5 {
    margin-right: 5rem;
}

.ms-1 {
    margin-left: 1rem;
}

.ms-2 {
    margin-left: 2rem;
}

.ms-3 {
    margin-left: 3rem;
}

.ms-4 {
    margin-left: 4rem;
}

.ms-5 {
    margin-left: 5rem;
}

.mb-1 {
    margin-bottom: 0.5rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mt-5 {
    margin-top: 5rem;
}

.h-100 {
    height: 100%;
}

.border-1 {
    border-radius: 5px;
}

.border-2 {
    border-radius: 8px;
}

.border-3 {
    border-radius: 15px;
}

.bg-success {
    background-color: #04AA6D;
}

.bg-primary {
    background-color: #2D9CDB;
}

.bg-secondary {
    background-color: #F2F2F2;
}

.bg-white {
    background-color: #FFFFFF;
}

.bg-light {
    background-color: #F8F9FA;
}

.bg-dark {
    background-color: #2F3542;
}

.bg-danger {
    background-color: #EB5757;
}

.bg-warning {
    background-color: #F2994A;
}

.bg-info {
    background-color: #2D9CDB;
}

.text-style-none {
    text-decoration: none;
    color: black
}

@media (max-width: 768px) {
    .d-none-blow-md {
        display: none;
    }

    .typography .title {
        font-size: 36px;
        font-weight: 700;
        line-height: 50px;
    }
}

@media (max-width: 992px) {
    .d-none-blow-lg {
        display: none;
    }
}