
#job_detail_welcome {
    text-align: center;
    width: 100%;
    padding: 3rem 0;
}

#job_detail_welcome .body {
    width: 90%;
    margin: auto;
    border-radius: 15px;
    min-height: 300px;
}

#job_detail_welcome .body .img {
    height: 300px;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/jobs-detail.png");
}

#job_detail_welcome .header {
    text-align: left;
    padding: 1.5rem 0;
}

#job_detail_welcome .header h1 {
    font-size: 38px;
    color: #05264E;
    font-family: 'Roboto', sans-serif;
}

#job_detail_welcome .header .info {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 15px;
    padding: 0.5rem 0;
    color: #A0ABB8;
}

#job_detail_welcome .header .info h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

#job_detail_welcome .content {
    width: 90%;
    margin: 0rem auto auto auto;
}


#job_detail_welcome .content .employment_information {
    border: 1px solid #e1e5ec;
    border-radius: 15px;
    text-align: left;
    padding: 1.5rem;
}

#job_detail_welcome .content .employment_information .infos {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(4, 24%);
    grid-template-rows: repeat(2, auto);
    row-gap: 1.5rem;
    padding: 1rem 0;
}

#job_detail_welcome .content .employment_information .infos .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.5rem;
    color: #05264E;
}

#job_detail_welcome .content .employment_information .infos .info div {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

#job_detail_welcome .content .employment_information .infos .info p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #05264E;
}


#job_detail_welcome .content .welcome_text {
    border: 1px solid #e1e5ec;
    border-radius: 15px;
    text-align: left;
    padding: 1.5rem;
    margin-top: 2rem;
}

#job_detail_welcome .content .welcome_text h2,
#job_detail_welcome .content .essential_knowledge h2,
#job_detail_welcome .content .employment_information h2 {
    border-bottom: 1px solid #e1e5ec;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
}

#job_detail_welcome .content .welcome_text p {
    width: 85%;
    font-family: 'Roboto', sans-serif;
    color: #4F5E64;
}


#job_detail_welcome .content .essential_knowledge {
    border: 1px solid #e1e5ec;
    border-radius: 15px;
    text-align: left;
    padding: 1.5rem;
    margin-top: 2rem;
}

#job_detail_welcome .content .essential_knowledge ul li {
    margin: 1rem 0 0;
    padding-left: 10px;
    color: #4F5E64;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#job_detail_welcome .content .essential_knowledge ul li i {
    font-size: 12px;
    color: black;
}

#job_detail_welcome .content .essential_knowledge ul li span {
    padding-left: 10px;
}

@media (max-width: 1200px) {
    #job_detail_welcome .content .employment_information .infos {
        grid-template-columns: repeat(3, 30%);
        grid-template-rows: repeat(3, auto);
    }
}

@media (max-width: 768px) {
    #job_detail_welcome .content .employment_information .infos {
        grid-template-columns: repeat(2, 47%);
        grid-template-rows: repeat(4, auto);
    }

    #job_detail_welcome .content .welcome_text p {
        width: 100%;
    }
}

@media (max-width: 576px) {
    #job_detail_welcome .body .img {
        background-image: url("https://images.pexels.com/photos/2182974/pexels-photo-2182974.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }

    #job_detail_welcome .content .employment_information .infos {
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(8, auto);
    }
}

