
#comments_page_welcome .body {
    background-image: url("https://jthemes.com/themes/wp/jobbox/wp-content/themes/jobbox/assets/imgs/page/blog/bg-breadcrumb.png");
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
}

#comments_page_welcome .body h1 {
    color: #05264E;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0.5rem;
}

#comments_page_welcome .body p {
    color: #66789C;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

#comments_page_welcome .body button {
    background-color: #05264E;
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}


#comments_page_welcome .body button:hover {
    background-color: #3C65f5;
    transition: 0.2s;
}

#comments_page_welcome .content {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(3, 32%);
    grid-template-rows: repeat(3, auto);
    row-gap: 1.5rem;
    margin: auto;
    width: 85%;
}

#comments_page_welcome .content .comment {
    margin: 1rem 0;
    border-radius: 10px;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(135deg, #f5f7fa 10%, #c3cfe2 100%);
}

#comments_page_welcome .content .comment .commenter {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

#comments_page_welcome .content .comment .commenter .name_logo {
    border-radius: 50%;
    background-color: #a4b6cb;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    text-transform: capitalize;
    margin-right: 10px;
}

#comments_page_welcome .content .comment .commenter .name {
    font-size: 24px;
    color: #05264E;
}

#comments_page_welcome .content .comment .commenter_message {
    margin-top: 1rem;
}

#comments_page_welcome .content .comment .commenter_message p {
    font-size: 18px;
    color: #66789C;
}

#comments_page_welcome .content .comment .commenter_date {
    margin-top: 1rem;
}


@media (max-width: 1200px) {
    #comments_page_welcome .content {
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2, 45%);
        grid-template-rows: repeat(10, auto);
        width: 90%;
        column-gap: 1rem;
        row-gap: 0.1rem;
    }
}

@media (max-width: 576px) {
    #comments_page_welcome .content {
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(10, auto);
        width: 90%;
    }

    #comments_page_welcome .body {
        padding: 0 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    #comments_page_welcome .body p {
        margin-bottom: 1rem;
    }

}