
#detail_welcome_page {
    font-family: 'Roboto', sans-serif;
}

#detail_welcome_page .content {
    text-align: center;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 2300px;
}

#detail_welcome_page .content::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 330px;
    background-image: url("https://jthemes.com/themes/wp/jobbox/wp-content/uploads/2022/09/jobbox-post-3-1920x514.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#detail_welcome_page .content .blog {
    background-color: white;
    width: 75%;
    border-radius: 15px;
    margin: 0 auto 0 auto;
    z-index: 1;
    padding: 4rem 0;
}

#detail_welcome_page .content .blog h1 {
    font-size: 36px;
    color: #05264E;
}

#detail_welcome_page .content .blog .author {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
    margin: 1rem auto 0 auto;
    color: #66789C;
}

#detail_welcome_page .content .blog .author .author-img {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

#detail_welcome_page .content .blog .author .author-img img {
    width: 40px;
    border-radius: 50%;
    margin-right: 1rem;
}

#detail_welcome_page .content .blog .body .text {
    width: 70%;
    margin: 1.5rem auto 0 auto;
    text-align: left;
    color: #4F5E64;
    line-height: 2;
}

#detail_welcome_page .content .blog .body .img-container {
    width: 85%;
    margin: 2rem auto 0 auto;
}

#detail_welcome_page .content .blog .body .img-container img {
    width: 100%;
    border-radius: 15px;
}


#detail_welcome_page .content .blog .body .list {
    text-align: left;
    width: 70%;
    margin: 1.5rem auto 0 auto;
}

#detail_welcome_page .content .blog .body .list ul {
    padding: 1rem 0 0 2rem;
    line-height: 2.5
}

#detail_welcome_page .content .blog .body .list ul li {
    color: #4F5E64;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    font-size: 16px;
}

#detail_welcome_page .content .blog .body .list ul li i {
    font-size: 12px;
    margin-right: 10px;
}

#detail_welcome_page .content .blog .body .leave-comment {
    text-align: left;
    width: 70%;
    margin: 2rem auto 0 auto;
}

#detail_welcome_page .content .blog .body .leave-comment h2 {
    font-size: 28px;
    color: #05264E;
}

#detail_welcome_page .content .blog .body .leave-comment p {
    color: #4F5E64;
    margin-top: 1rem;
}

#detail_welcome_page .content .blog .body .leave-comment form {
    margin-top: 2rem;
}

#detail_welcome_page .content .blog .body .leave-comment form .account-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

#detail_welcome_page .content .blog .body .leave-comment form input {
    width: 100%;
    outline: none;
    padding: 1rem;
    border: 1px solid #e1e5ec;
    border-radius: 10px;
    margin: 0 0.2rem;
}

#detail_welcome_page .content .blog .body .leave-comment form .message {
    margin: 0 0.2rem;
}

#detail_welcome_page .content .blog .body .leave-comment form textarea {
    outline: none;
    padding: 1rem;
    border: 1px solid #e1e5ec;
    border-radius: 10px;
    width: calc(100% - 2rem);
}

#detail_welcome_page .content .blog .body .leave-comment form button {
    background-color: #05264E;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 1rem 0.2rem;
    cursor: pointer;
}


@media (max-width: 1200px) {
    #detail_welcome_page .content .blog {
        width: 90%;
    }
}

@media (max-width: 992px) {
    #detail_welcome_page .content {
        min-height: 2350px;
    }
}

@media (max-width: 768px) {
    #detail_welcome_page .content .blog h1 {
        font-size: 28px;
    }
}

@media (max-width: 556px) {
    #detail_welcome_page .content {
        padding-top: 4rem;
        min-height: 3100px;
    }

    #detail_welcome_page .content .blog {
        width: 90%;
    }
}